@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//MEDIA QUERY MANAGER

/*
0 - 600:        PHONE
600 - 900:      TABLET PORTRAIT
900 - 1200:     TABLET LANDSCAPE
(1200 - 1800)   NORMAL STYLE APPLY
1800px +:       BIG DESKTOP
*/

@mixin respond-phone {
    @media (max-width: 600px) {@content};
}

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px | rem doesn't work in mixins

ORDER: Base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content}; // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content}; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content}; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {@content}; // 1800px
    }
}